Repository SzymonPiatek/SystemERP, pull requests merged in 2025-01, with the labels that each got.

#35 Feat events
  frontend/package-lock.json
  frontend/package.json
  frontend/public/404.svg
  frontend/public/fullLogoLight.png
  frontend/src/App.tsx
  frontend/src/actions/eventActions.ts
  frontend/src/actions/noteActions.ts
  frontend/src/actions/usersActions.ts
  frontend/src/components/calendar/AddEvent.tsx
  frontend/src/components/calendar/BigCalendar.tsx
  frontend/src/components/calendar/DailyCalendar.tsx
  frontend/src/components/calendar/EventCalendar.tsx
  frontend/src/components/dashboard/UserCard.tsx
  frontend/src/components/form/NewNoteForm.tsx
  frontend/src/components/form/NoteForm.tsx
  frontend/src/components/form/ScheduleForm.tsx
  frontend/src/components/form/UsersForm.tsx
  frontend/src/components/form/newUserForm.tsx
  frontend/src/components/logo/Logo.tsx
  frontend/src/components/navLayout/NavLayout.tsx
  frontend/src/components/navLayout/NavLink.tsx
  frontend/src/components/notes/SingleNote.tsx
  frontend/src/components/pagination/Pagination.tsx
  frontend/src/components/topBarLayout/TopBarLayout.tsx
  frontend/src/components/ui/BoxWithTitle.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/file-upload.tsx
  frontend/src/components/ui/status.tsx
  frontend/src/hooks/events/useEvents.tsx
  frontend/src/hooks/notes/useNotes.tsx
  frontend/src/hooks/users/useUsers.tsx
  frontend/src/index.css
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Employees.tsx
  frontend/src/pages/Error.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/Notes.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/Schedule.tsx
  frontend/src/pages/Users.tsx
  frontend/src/utils/types.ts
Labels: frontend

#36 Backend fixes
  api/prisma/migrations/20250112072028_event_description/migration.sql
  api/prisma/schema.prisma
  api/src/app.ts
  api/src/fixtures/events/eventsData.ts
  api/src/models/auth/swagger/loginHandler.swagger.ts
  api/src/models/auth/swagger/logoutHandler.swagger.ts
  api/src/models/auth/swagger/refreshTokenHandler.swagger.ts
  api/src/models/auth/swagger/registerHandler.swagger.ts
  api/src/models/company/swagger/createCompanyHandler.swagger.ts
  api/src/models/company/swagger/editCompanyDataHandler.swagger.ts
  api/src/models/company/swagger/getAllCompaniesHandler.swagger.ts
  api/src/models/company/swagger/getCompanyByIdHandler.swagger.ts
  api/src/models/event/handlers/createEventHandler.ts
  api/src/models/event/handlers/editEventHandler.ts
  api/src/models/event/swagger/editEvenHandler.swagger.ts
  api/src/models/event/swagger/getAllEventsHandler.swagger.ts
  api/src/models/event/swagger/getEventByIdHandler.swagger.ts
  api/src/models/event/swagger/getEventByIdSwagger.ts
  api/src/models/event/swagger/postEventHandler.swagger.ts
  api/src/models/note/handlers/deleteHandlers.ts
  api/src/models/note/handlers/getHandlers.ts
  api/src/models/note/swagger/createNoteHandler.swagger.ts
  api/src/models/note/swagger/deleteNoteHandler.swagger.ts
  api/src/models/note/swagger/editNoteHandler.swagger.ts
  api/src/models/note/swagger/getAllNotesHandler.swagger.ts
  api/src/models/note/swagger/getNoteByIdHandler.swagger.ts
  api/src/models/user/handlers/getAllUsersHandler.ts
  api/src/models/user/swagger/changePasswordHandler.swagger.ts
  api/src/models/user/swagger/changeUserIsActiveHandler.swagger.ts
  api/src/models/user/swagger/editUserDataHandler.swagger.ts
  api/src/models/user/swagger/getAllUsersHandler.swagger.ts
  api/src/models/user/swagger/getUserByIdHandler.swagger.ts
  api/src/swaggerConfig.ts
  api/src/types/types.ts
Labels: backend

#37 Frontend Fixes
  frontend/src/App.tsx
  frontend/src/actions/authActions.ts
  frontend/src/hooks/useLoginUser.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/routes/PublicRoute.tsx
Labels: frontend

#39 NE-9 File storage and avatars
  api/package-lock.json
  api/package.json
  api/prisma/migrations/20250125164129_file/migration.sql
  api/prisma/schema.prisma
  api/src/app.ts
  api/src/middlewares/uploadMiddleware.ts
  api/src/models/auth/handlers/loginHandler.ts
  api/src/models/auth/tests/loginHandler.test.ts
  api/src/models/company/tests/getCompanyByIdHandler.test.ts
  api/src/models/file/services/getFile.ts
  api/src/models/user/handlers/getUserByIdHandler.ts
  api/src/models/user/handlers/setProfilePictureHandler.ts
  api/src/models/user/routers/userRoutes.ts
  api/src/models/user/swagger/setProfilePictureHandler.swagger.ts
  api/src/models/user/tests/getUserByIdHandler.test.ts
  api/src/models/user/tests/setProfilePictureHandler.test.ts
  api/src/tests/data.ts
  api/src/tests/mocks.ts
  api/src/types/types.ts
  envs/.gitignore
  frontend/src/actions/usersActions.ts
  frontend/src/components/dashboard/UserCard.tsx
  frontend/src/components/topBarLayout/TopBarLayout.tsx
  frontend/src/pages/Employees.tsx
  frontend/src/pages/Error.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/utils/types.ts
Labels: backend, frontend, qa

#41 NE-7 Email service
  api/package-lock.json
  api/package.json
  api/src/models/email/handlers/sendEmailHandler.ts
  api/src/models/email/routers/emailRoutes.ts
  api/src/models/email/services/transporter.ts
  api/src/models/email/swagger/sendEmailHandler.swagger.ts
  api/src/models/email/tests/sendEmailHandler.test.ts
  api/src/models/event/routers/eventRoutes.ts
  api/src/routes/index.ts
  api/src/tests/mocks.ts
  docker-compose.yaml
  envs/.env-email-default
Labels: backend

#40 NE-2 Events update
  api/prisma/migrations/20250125185254_events/migration.sql
  api/prisma/migrations/20250125190915_description/migration.sql
  api/prisma/schema.prisma
  api/src/models/event/handlers/createEventHandler.ts
  api/src/models/event/handlers/editEventHandler.ts
  api/src/models/event/handlers/getAllEventsHandler.ts
  api/src/models/event/handlers/getEventByIdHandler.ts
  api/src/models/event/tests/createEventHandler.test.ts
  api/src/models/event/tests/editEventHandler.test.ts
  api/src/models/event/tests/getAllEventsHandler.test.ts
  api/src/models/event/tests/getEventByIdHandler.test.ts
  api/src/tests/mocks.ts
  api/src/types/types.ts
Labels: backend, qa
